img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.colAvatar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.rowTop {
  display: flex;
}

.contentCourses {
  display: flex;
}

h2 {
  text-align: center;
}
